.tty {
	display: block;
	width: 100%;
	height: 100%;
	padding: 16px;

	position: absolute;
	left: 0;
	top: 0;

	background-color: #000;

	white-space: pre;
	font-family: "Consolas", "Courier New", monospace;
	font-size: 16px;
	color: #FFF;

	overflow: hidden;
}